* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #0a0909; /* Fundo preto */
    color: #E0E0E0; /* Texto principal */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

.btn-login {
    background-color: #933ad4; /* Cor fixa roxa */
    border: none;
    color: #E0E0E0; /* Texto branco */
    padding: 10px 0;
    border-radius: 4px;
    transition: none;
}

.btn-login:hover, .btn-login:focus {
    background-color: #933ad4; /* Cor roxa fixa mesmo ao hover e focus */
    color: #E0E0E0;
}

.form-control, .form-select {
    background-color: transparent; /* Fundo transparente */
    border: 1px solid #933ad4; /* Borda roxa */
    color: #E0E0E0; /* Texto branco */
    padding: 10px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease-in-out;
}

.form-control::placeholder, .form-select::placeholder {
    color: #D3D3D3; /* Placeholder em cinza claro */
}

.form-select:focus, .form-control:focus {
    background-color: transparent; /* Fundo transparente ao focar */
    border-color: #933ad4; /* Manter a borda roxa */
    color: #E0E0E0;
    box-shadow: none; /* Remove o contorno azul */
    outline: none;
}

.form-select option {
    background-color: #121212; /* Fundo preto para opções */
    color: #E0E0E0; /* Texto branco nas opções */
}

.form-label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: #E0E0E0;
}

.link {
    color: #07dde8;
    text-decoration: none;
}

.logo-space {
    text-align: center;
    margin-bottom: 20px;
}

.logo-space h1 {
    font-size: 32px; /* Tamanho desejado para o nome do app */
    font-weight: bold;
    color: #E0E0E0; /* Cor do texto */
    margin: 0;
}

.logo-space p {
    font-size: 16px; /* Tamanho desejado para o slogan */
    color: #A0A0A0; /* Cor do texto para o slogan */
    margin: 5px 0 0;
}









