* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container-fluid {
    padding: 20px;
    margin-bottom: 70px;  
    height: calc(100% - 70px);
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita rolagem horizontal */
}

body {
    background-color: #0a0909;
    color: #E0E0E0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

.btn {
    background-color: #6a11cb;
    border: none;
    color: #E0E0E0;
    padding: 10px 0;
    border-radius: 4px;
    transition: none;
}

.btn:disabled {
    background-color: #A9A9A9; 
    color: #CCCCCC; 
    opacity: 0.7; 
    cursor: not-allowed; 
}

.btn:hover, .btn:focus {
    background-color: #6a11cb;
    color: #E0E0E0;
}

.form-control, .form-select {
    background-color: transparent;
    border: 1px solid #6a11cb; 
    color: #E0E0E0;
    padding: 10px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease-in-out;
}

.form-control::placeholder, .form-select::placeholder {
    color: #D3D3D3; 
}

.form-select:focus, .form-control:focus {
    background-color: transparent; 
    border-color: #6a11cb; 
    color: #E0E0E0;
    box-shadow: none; 
    outline: none;
}

.form-select option {
    background-color: #121212; 
    color: #E0E0E0; 
}

.form-label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: #E0E0E0;
}

.link {
    color: #07dde8;
    text-decoration: none;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo h1 {
    font-size: 32px; 
    font-weight: bold;
    color: #E0E0E0; 
    margin: 0;
}

.logo p {
    font-size: 16px; 
    color: #A0A0A0; 
    margin: 5px 0 0;
}

.navbar {
    position: fixed;
    bottom: 0; 
    width: 100%; 
    z-index: 1000; 
    height: 70px;
    background-color: #1a1a1d; 
    border-top: 2px solid #6a11cb;
}

.custom-navbar {
    padding: 10px 0;
    background-color: #f8f9fa;
}

.custom-navbar a {
    color: #6a11cb;
    font-size: 24px;
}

.custom-navbar a.active {
    color: #fff;
}

.custom-navbar .nav-item {
    flex-grow: 1;
}
.custom-navbar .nav-item i {
    font-size: 24px; 
    color: #6c757d;
}
.custom-navbar .nav-item i:hover {
    color: #6a11cb; 
}

.nav-item.active i {
    color: #6a11cb; 
}

.ranking-container {
    padding: 20px;
}

.ranking-title {
    text-align: center;
    font-size: 2.5rem;
    color: #6a11cb;
    font-weight: bold;
    margin: 0 auto 20px; 
    border: 2px solid #6a11cb; 
    border-radius: 10px; 
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: fit-content;
}

.table {
    border-radius: 12px;
    overflow: hidden;
}   

.table th,
.table td {
    color: #fff;
}

.table thead th {
    background-color: #6a11cb;
    font-weight: bold;
}

.perfil-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.perfil-header {
    background: transparent;
    text-align: center;
}

.foto-user img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #6a11cb;
}

.nomeUsuario{
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
}

.emailUsuario{
    color: #8d8b8b;
    font-size: 14px;
    margin-top: -10px;
}

.info {
    margin-top: -8px;
    margin-bottom: -8px;
    display: flex;
    justify-content: center;
    gap: 7px;
    font-size: 16px;
}

.info .info-label {
    font-weight: bold;
}

.info p {
    color: #00bfff; 
}

/* Botões do perfil */
.profile-opcoes {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}

.btn-perfil {
    background-color: #6a11cb;
    border: none;
    color: #E0E0E0;
    padding: 10px 0;
    border-radius: 4px;
    transition: none;
}

.btn-perfil:hover, .btn-perfil:focus {
    background-color: #6a11cb;
    color: #E0E0E0;
}

/* Estilo específico para o botão de logout */
.logout-btn {
    background: #fc466b; /* Vermelho */
    border: none;
    color: #E0E0E0;
    padding: 10px 0;
    border-radius: 4px;
    transition: none;
}

.logout-btn:hover,
.logout-btn:focus {
    background: #fc466b; 
    color: white;
}

.custom-navbar {
    background-color: #1a1a1d;
    padding: 10px 0;
    border-top: 2px solid #6a11cb;
}


/* Inventário */
.inventory {
    padding: 20px;
    text-align: center;
}

/* Título */
.inventory-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 auto 20px; 
    color: #6a11cb;
    margin-bottom: 20px;
    border: 2px solid #6a11cb; 
    border-radius: 10px; 
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: fit-content;
}

/* Barra de pesquisa */
.inventory-filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.btn-filter {
    padding: 10px 15px;
    border: 2px solid #6a11cb;
    background-color: #0a0909; 
    color: #E0E0E0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-filter:hover {
    background-color: #6a11cb; 
    color: #E0E0E0; 
}


/* Grade de itens */
.inventory-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
}

/* Slots do inventário */
.inventory-slot {
    background-color: #121212;
    border: 2px solid #6a11cb;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s ease;
}

.inventory-slot:hover {
    border-color: #07dde8; /* Destaque azul no hover */
}

/* Itens dentro dos slots */
.inventory-item {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 10px;
}

.inventory-item-name {
    font-size: 14px;
    color: #E0E0E0;
    font-weight: bold;
    margin: 5px 0 2px;
}

.inventory-item-rarity {
    font-size: 12px;
    color: #07dde8; /* Azul para raridade */
}

/* Slots vazios */
.inventory-empty {
    font-size: 14px;
    color: #A0A0A0;
    font-style: italic;
}

/* Título */
.title {
    font-size: 2rem;
    color: #6a11cb;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Pré-visualização da foto */
.foto-preview {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border: 3px solid #6a11cb;
    border-radius: 50%;
    overflow: hidden;
}

.foto-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Inputs */
.form-label {
    color: #E0E0E0;
    margin-bottom: 5px;
}

.form-control, 
.form-select {
    background-color: transparent;
    color: #E0E0E0;
    border: 1px solid #6a11cb;
    border-radius: 4px;
    padding: 10px;
}

.form-control::placeholder, 
.form-select::placeholder {
    color: #A0A0A0;
}

.form-control:focus, 
.form-select:focus {
    border-color: #5c0fb8;
    outline: none;
    box-shadow: none;
}

/* Botão */
.btn-perfil {
    background-color: #6a11cb;
    color: #E0E0E0;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-perfil:hover {
    background-color: #5c0fb8;
}

/* Input Group */
.input-group {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.input-group .form-control {
    background-color: transparent;
    color: #E0E0E0;
    border: 1px solid #6a11cb;
    border-radius: 4px;
    text-align: center;
    font-size: 0.9rem;
}

.input-group .form-control::placeholder {
    color: #A0A0A0;
}

.input-group .form-control:focus {
    border-color: #5c0fb8;
    box-shadow: none;
    outline: none;
}

/* Botão Finalizar */
.btn-finalizar {
    background-color: #6a11cb;
    color: #E0E0E0;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn-finalizar:hover {
    background-color: #5c0fb8;
}

/* Título */
.home-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 auto 20px; 
    color: #6a11cb;
    margin-bottom: 20px;
    border: 2px solid #6a11cb; 
    border-radius: 10px; 
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: fit-content;
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.fase {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: white; 
    font-weight: bold;
}

.completada {
    background-color: #350a63;
}
.ativa {
    background-color: #6a11cb;
    cursor: pointer;
}
.bloqueada {
    background-color: #444;
    cursor: not-allowed;
}
.path {
    width: 5px;
    height: 50px;
    background-color: #6a11cb;
    margin: auto;
}

.fase-card {
    background-color: #1a1a1a; 
    border: 2px solid #6a11cb; 
    border-radius: 10px;
    padding: 15px 20px; 
    width: 100%; 
    margin: 20px auto;
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fase-titulo{
    text-align: center;
    font-size: 2.5rem;
    color: #6a11cb;
    font-weight: bold;
    margin: 0 auto 20px; 
    border: 2px solid #6a11cb; 
    border-radius: 10px; 
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: fit-content;
}

.fase-nome {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; 
    text-align: center; 
}

.fase-descricao {
    font-size: 14px;
    margin-bottom: 15px;
    color: #807e7e;
}

.info-linhas {
    display: flex;
    justify-content: space-between;
    margin: 10px 0; 
}

.info-item {
    flex: 1; 
    text-align: center; 
    font-size: 14px;
    padding: 5px;
}

.treino-card {
    background-color: #1a1a1a;
    border: 2px solid #6a11cb;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.treino-titulo{
    text-align: center;
    font-size: 2.5rem;
    color: #6a11cb;
    font-weight: bold;
    margin: 0 auto 20px; 
    border: 2px solid #6a11cb; 
    border-radius: 10px; 
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: fit-content;
}

.treino-nome {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; 
    text-align: center; 
}

.treino-descricao {
    font-size: 14px;
    margin-bottom: 15px;
    color: #807e7e;
}

.exercicios-card {
    background-color: #1a1a1a; 
    border: 2px solid #6a11cb; 
    border-radius: 10px;
    padding: 15px 20px; 
    width: 100%; 
    margin: 20px auto;
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.exercicios-titulo{
    text-align: center;
    font-size: 2.5rem;
    color: #6a11cb;
    font-weight: bold;
    margin: 0 auto 20px; 
    border: 2px solid #6a11cb; 
    border-radius: 10px; 
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: fit-content;
}

.exercicios-nome {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; 
    text-align: center; 
}

.exercicios-descricao {
    font-size: 14px;
    margin-bottom: 15px;
    color: #807e7e;
}

.exercicio-titulo {
    text-align: center;
    font-size: 2.5rem;
    color: #6a11cb;
    font-weight: bold;
    margin: 0 auto 20px; 
    border: 2px solid #6a11cb; 
    border-radius: 10px; 
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: fit-content;
}

.exercicio-descricao {
    font-size: 14px;
    margin: 0;
    color: #807e7e;
}

.inputs-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

.inputs-container .form-group {
    flex: 1;
}

.inputs-container .form-control {
    text-align: center; 
}

.cronometro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.cronometro {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.cronometro-display {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.cronometro-button {
    background-color: #6a11cb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cronometro-message {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #1c1c1c;
    color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.modal-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.modal-content .btn {
    background-color: #6a11cb;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal.hidden {
    display: none;
}








